body{

background:#111;

color:white;

font-family:Arial;

padding:20px;

}


h1{

text-align:center;

color:#d4af37;

}


.item{

background:#222;

margin:15px 0;

padding:20px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

}


.item h2{

margin:0;

}


.item p{

color:#aaa;

}


.item span{

color:#d4af37;

font-size:22px;

font-weight:bold;

}
